In [1]:
#importing of dependencies

import pandas as pd
import numpy as np
from collections import Counter

from sklearn.model_selection import train_test_split

from sklearn.feature_extraction import stop_words
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

from sklearn.metrics import mean_squared_error, r2_score
from sklearn.pipeline import make_pipeline

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.svm import LinearSVC

### Analysis on Price vs Decription

In [2]:
# import the data
data = pd.read_csv("../output_data/final_wine_data_172k_test.csv")
data.head()

,Unnamed: 0,country,description,price,points,variety,winery
0,1,Portugal,"This is ripe and fruity, a wine that is smooth...",15.0,87,Portuguese Red,Quinta dos Avidagos
1,2,US,"Tart and snappy, the flavors of lime flesh and...",14.0,87,Pinot Gris,Rainstorm
2,3,US,"Pineapple rind, lemon pith and orange blossom ...",13.0,87,Riesling,St. Julian
3,4,US,"Much like the regular bottling from 2012, this...",65.0,87,Pinot Noir,Sweet Cheeks
4,5,Spain,Blackberry and raspberry aromas show a typical...,15.0,87,Tempranillo-Merlot,Tandem

In [3]:
data = data.filter(["price", "description"], axis = 1)
data.head()

   price                                        description
0   15.0  This is ripe and fruity, a wine that is smooth...
1   14.0  Tart and snappy, the flavors of lime flesh and...
2   13.0  Pineapple rind, lemon pith and orange blossom ...
3   65.0  Much like the regular bottling from 2012, this...
4   15.0  Blackberry and raspberry aromas show a typical...

In [4]:
data['length'] = data['description'].apply(lambda x: len(x))
data.head()

   price                                        description  length
0   15.0  This is ripe and fruity, a wine that is smooth...     227
1   14.0  Tart and snappy, the flavors of lime flesh and...     186
2   13.0  Pineapple rind, lemon pith and orange blossom ...     199
3   65.0  Much like the regular bottling from 2012, this...     249
4   15.0  Blackberry and raspberry aromas show a typical...     261

In [5]:
data.dtypes

price          float64
description     object
length           int64
dtype: object

In [6]:
X=data['description']
y=data['price']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [7]:
%%time

linear_model = make_pipeline(
    CountVectorizer(stop_words='english'),
    LinearRegression(),
    verbose = True
)

linear_model.fit(X_train, y_train)

print(f'Accuracy: {linear_model.score(X_test, y_test)} \n')

[Pipeline] ... (step 1 of 2) Processing countvectorizer, total=   5.8s
[Pipeline] .. (step 2 of 2) Processing linearregression, total= 2.0min
Accuracy: 0.07710227583994823

CPU times: user 7min 35s, sys: 17.3 s, total: 7min 52s
Wall time: 2min 4s

In [8]:
# Use our model to predict a value
predicted = linear_model.predict(X)

# Score the prediction with mse and r2
mse = mean_squared_error(y, predicted)
r2 = r2_score(y, predicted)

print(f"Mean Squared Error (MSE): {mse}")
print(f"R-squared (R2): {r2}")

Mean Squared Error (MSE): 995.0904139567624
R-squared (R2 ): 0.4138847493666692